
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background-color: #000;
    color: white;
    padding: 1rem 5%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}
.hero {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                url('https://images.unsplash.com/photo-1441974231531-c6227db76b6e') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-content h1 {`
    font-size: 2.5rem;
    margin-bottom: 10px;
   
    
}
.hero-content p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}
.btn {
    padding: 10px 25px;
    background: white;
    cursor: pointer;
    font-weight: bold;

}
.btn:hover{
    background-color: rgb(9, 128, 0);
}
.btn:active{
    background-color: rgb(206, 255, 150);
    border:2px solid #000;
}
.units-section {
    padding: 40px 5%;
}

.box-percent {
    background-color: #800080; 
    color: white;
    width: 50%;
    padding: 10px;
 
}
.box-vh {
    background-color: #008080; /* Teal */
    color: white;
    height: 40vh;
    padding: 10px;
    width: 100%;
}

